#imagenDni {
    height: 240px;
    width: 320px;
    background-color: silver;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

#vistaPreviaFoto {
    height: 240px;
    width: 320px;
}