<img class="foto-encabezado" src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Partido_Libertario_%28Argentina%29.png">
<h1 class="texto-resaltado">Iniciar sesión</h1>
<form>
    <mat-form-field>
        <mat-label>USUARIO</mat-label>
        <input matInput type="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>CONTRASEÑA</mat-label>
        <input matInput type="password">
    </mat-form-field>
    <button routerLink="/lista" mat-flat-button color="primary">INICIAR SESIÓN</button>
</form>