<h3 class="texto-resaltado">CONDICIONES</h3>
<p>IMPORTANTE! Los datos facilitados por este medio no serán difundidos ni publicados en ningún medio de acceso público o privado, quedando siempre en una base de datos confidencial. El Partido Libertario se compromete a preservar la privacidad y anonimato del solicitante en todo momento.</p>
<p>Al completar y enviar el presente formulario se manifiesta el permiso del solicitante para que sus datos sean utilizados con la única finalidad de ser presentados ante justicia electoral en formato de ficha de afiliación. En caso de duda o reclamo por favor contactarse vía e-mail a <a href="mailto:plibertarioctes@gmail.com">plibertarioctes@gmail.com</a>.</p>
<p>Si no podés completar el registro por algún motivo envianos un mensaje a nuestra pagina: <a href="https://plibertarioctes.com.ar">https://plibertarioctes.com.ar</a></p>

<div id="actions">
    <mat-checkbox>Acepto los terminos</mat-checkbox>
    <button routerLink="/paso-1" mat-flat-button color="primary">Formulario de afiliacion</button>
</div>



