body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.texto-resaltado {
    color: #8a2be2;
}

a {
    text-decoration: none;
    color: #ffaf4d;
}

form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

mat-form-field {
    padding-left: 4px;
    padding-right: 4px;
}
